@import "../../variable";

#slider-hero {
  position: relative;
  // max-height: 70vh;
  .swiper-wrapper {
    align-items: center;
  }
}

.slider-home {
  width: 92vw;
  margin-left: -46vw;
  left: 50%;
  .h1 {
    font-size: 64px;
    @media #{$sm} {
      font-size: 31px;
    }
  }
  p {
    font-size: 21px !important;
    max-width: 80%;
  }
  .slider__content {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
  }
  .slide {
    padding: 150px 50px;
    padding-left: 15%;
    position: relative;
    @media #{$xlg} {
      padding: 80px 50px;
      padding-left: 12%;
    }
    @media #{$sm} {
      padding: 50px 0px;
    }
  }
  .img {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0;
    // width: calc(100% - 100px);
    height: 100%;
    background-position: center;
    background-size: cover;
    display: block;
    .bg {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100%);
      height: 100%;
      background-color: rgba(55, 68, 74, 0.4);
    }
    width: calc(92vw - 2px);
    margin-left: -46vw;
    left: 50%;
  }
  .c-white {
    p,
    .h1 {
      color: #fff !important;
    }
  }
}
.pag-con {
  position: absolute;
  z-index: 5;
  top: 54%;
  transform: translate(0, -50%);
  left: 20px;
  @media #{$sm} {
    position: relative;
    left: 0px;
    transform: translate(0, 40%);
  }
  .swiper-pagination {
    width: 100px !important;
    @media #{$sm} {
      width: initial !important;
      position: relative;
      display: flex;
    }
    div {
      display: flex;
      padding: 20px 0;
      background: none;
      opacity: 1 !important;
      outline: 0;
      display: flex;
      align-items: center;
      text-shadow: 0 0 2px #fff;
      @media #{$sm} {
        width: 50px;
        align-items: center;
        justify-content: center;
      }

      .num {
        font-size: 18px;
        color: $black !important;
      }
    }
    .swiper-pagination-bullet-active {
      text-shadow: none;
      .sep {
        display: block;
        min-width: 20px;
        height: 1px;
        background-color: $main;
        margin-right: 30px;
        @media #{$sm} {
          display: none;
        }
      }
      .num {
        font-size: 18px;
        color: $main !important;
        font-weight: 500;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          right: -8px;
          top: -4px;
          width: 36px;
          height: 36px;
          border: 1px solid $main;
          border-radius: 100%;
        }
      }
    }
  }
}
